<link rel="stylesheet" href="/stylesheets/style.css">
<div class="conatiner">
  <h1 id="main">{{ title }}</h1>
  <p id="welcm"> Welcome to {{ title }}</p>


  <div>
    <p id="welcm2">
      {{ intro }}
    </p>
  </div>

  <div class="movie1">
    <a href="/video"><img src="/images/img_1.jpg" id="img1" alt="faf7_poster" /></a>
  </div>

  <div class="movie2">
    <a href="/video2"><img src="/images/img_2.jpg" id="img2" alt="nfs_poster" /></a>
  </div>


</div>
