<link rel="stylesheet" href="/stylesheets/style.css">

<h1 id="title1"> {{ title }} </h1>
<video id="vid1" controls>
  <source src="/video/vid_1.mp4" type="video/mp4">
</video>
<p id="info1">After defeating international terrorist Owen Shaw, Dominic Toretto (Vin Diesel), Brian O'Conner (Paul Walker) and the rest of the crew have separated to return to more normal lives. However, Deckard Shaw (Jason Statham), Owen's older brother, is thirsty for revenge. A slick government agent offers to help Dom and company take care of Shaw in exchange for their help in rescuing a kidnapped computer hacker who has developed a powerful surveillance program.</p>
