<link rel="stylesheet" href="/stylesheets/style.css">

<h1 id="title2"> {{ title }} </h1>
<video id="vid2" controls>
  <source src="/video/vid_2.mp4" type="video/mp4">
</video>
<p id="info2">Tobey Marshall (Aaron Paul), a mechanic, races muscle cars in an underground circuit. Struggling to keep his business afloat, he reluctantly partners with wealthy but treacherous Dino Brewster (Dominic Cooper). However, Dino frames Tobey for a crime that sends him to prison. Two years later, Tobey is out and bent on revenge; his only chance to take down Dino is to beat him in a high-stakes race. But to get there in time, he must successfully evade an army of cops and bounty hunters.</p>
